{% extends "base.html" %}

{% block title %}admin_users{% end %}

{% block body %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h1>{{ _('ADMIN_USERS_TITLE') }}</h1>
        <p>{{ _('ADMIN_USERS_INTRO') }}</h1>
    </div>
</div>

<div class="row characters_section">
    <div class="col-sm-12">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Main</th>
                    <th>Alts</th>
                    <th>Groups</th>
                    <th>Location</th>
                    <th>Ship</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><img src="https://image.eveonline.com/Character/{{ user.main_character.character_id }}_50.jpg"></td>
                    <td>
                        <a href="/admin/users/detail?user_id={{ user.main_character.id }}">{{ user.main_character.character_name }}</a>
                    </td>
                    <td>
                        {{ len(user.characters) - 1 }}
                    </td>
                    <td>
                        {{ len(user.groups) }}
                    </td>
                    <td>
                        {% if user.main_character.last_location %}
                            {{ user.main_character.last_location.system.eve_name }}
                        {% else %}
                            <em>Unknown</em>
                        {% end %}
                    </td>
                    <td>
                        {% if user.main_character.last_ship %}
                            {{ user.main_character.last_ship.eve_type.eve_name }}
                        {% else %}
                            <em>Unknown</em>
                        {% end %}
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}
