{% extends "base.html" %}

{% block title %}characters{% end %}

{% block body %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h1>{{ _('CHARACTERS_TITLE') }}</h1>
        <p>{{ _('CHARACTERS_INTRO') }}</h1>
    </div>
</div>

<div class="row characters_section">
    <div class="col-sm-12 col-md-7 col-lg-8">
        <h2>{{ _('CHARACTERS_CHARACTERS_TITLE') }}</h2>
        {% raw _('CHARACTERS_CHARACTERS_INTRO') %}</p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
        <h3>{{ _('CHARACTERS_CHARACTERS_MAIN_TITLE') }}</h3>
        <form method="POST" action="/characters/select_main">
            <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
            <p>
                <select id="main_character" name="character_id">
                    <option value="0">{{ _('CHARACTERS_CHARACTERS_NO_MAIN_SELECTED') }}</option>
                    {% for character in current_user.characters %}
                        {% if character.is_main %}
                            <option selected value="{{ character.id }}">{{ character.character_name }}</option>
                        {% else %}
                            <option value="{{ character.id }}">{{ character.character_name }}</option>
                        {% end %}
                    {% end %}
                </select>
                <button type="submit">Set</button>
            </p>
        </form>
    </div>
</div>
{% if not len(current_user.characters) %}
<div class="row characters_section">
    <div class="col-sm-12">
        <p class="alert alert-warning">{{ _('CHARACTERS_CHARACTERS_NO_CHARACTERS') }}</p>
    </div>
</div>
{% else %}

{% set characters_internal = [character for character in current_user.characters if character.is_internal and character.is_valid] %}
{% set characters_external = [character for character in current_user.characters if not character.is_internal and character.is_valid] %}
{% set characters_invalid = [character for character in current_user.characters if not character.is_valid] %}

{% if len(characters_invalid ) %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h2>{{ _('CHARACTERS_INVALID') }}</h2>
        <p class="alert alert-danger">{{ _('CHARACTERS_INVALID_INTRO') }}</p>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Character</th>
                    <th>Corporation/Alliance</th>
                    <th>Location</th>
                    <th>Ship</th>
                    <th>SP</th>
                </tr>
            </thead>
            <tbody>
            {% for character in characters_invalid %}
                <tr>
                    <td><img src="https://image.eveonline.com/Character/{{ character.character_id }}_50.jpg"></td>
                    <td>{{ character.character_name }}</td>
                    <td>
                        {{ character.corporation.name }}
                        {% if character.alliance_name %}
                            ({{ character.alliance_name }})
                        {% end %}
                    <td>
                        {% if character.last_location %}
                            {{ character.last_location.system.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.last_ship %}
                            {{ character.last_ship.eve_type.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.sp %}
                            {{ "%.1f" % (character.sp / 1000000) }}M
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}

{% if len(characters_internal) %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h2>{{ _('CHARACTERS_INTERNAL') }}</h2>
        <p>{{ _('CHARACTERS_INTERNAL_INTRO') }}</p>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Character</th>
                    <th>Corporation/Alliance</th>
                    <th>Location</th>
                    <th>Ship</th>
                    <th>SP</th>
                </tr>
            </thead>
            <tbody>
            {% for character in characters_internal %}
                <tr>
                    <td><img src="https://image.eveonline.com/Character/{{ character.character_id }}_50.jpg"></td>
                    <td>{{ character.character_name }}</td>
                    <td>
                        {{ character.corporation.name }}
                        {% if character.alliance_name %}
                            ({{ character.alliance_name }})
                        {% end %}
                    <td>
                        {% if character.last_location %}
                            {{ character.last_location.system.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.last_ship %}
                            {{ character.last_ship.eve_type.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.sp %}
                            {{ "%.1f" % (character.sp / 1000000) }}M
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}

{% if len(characters_external) %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h2>{{ _('CHARACTERS_EXTERNAL') }}</h2>
        <p>{{ _('CHARACTERS_EXTERNAL_INTRO') }}</p>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Character</th>
                    <th>Corporation/Alliance</th>
                    <th>Location</th>
                    <th>Ship</th>
                    <th>SP</th>
                </tr>
            </thead>
            <tbody>
            {% for character in characters_external %}
                <tr>
                    <td><img src="https://image.eveonline.com/Character/{{ character.character_id }}_50.jpg"></td>
                    <td>{{ character.character_name }}</td>
                    <td>
                        {{ character.corporation.name }}
                        {% if character.alliance_name %}
                            ({{ character.alliance_name }})
                        {% end %}
                    <td>
                        {% if character.last_location %}
                            {{ character.last_location.system.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.last_ship %}
                            {{ character.last_ship.eve_type.eve_name }}
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                    <td>
                        {% if character.sp %}
                            {{ "%.1f" % (character.sp / 1000000) }}M
                        {% else %}
                            <span class="pending">{{ _('PENDING') }}</span>
                        {% end %}
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}


{% end %}


<div class="row characters_section">
    <div class="col-sm-12">
        <h2>{{ _('CHARACTERS_ADD_CHARACTER_TITLE') }}</h2>
        <p>{{ _('CHARACTERS_ADD_CHARACTER_INTRO') }}</p>
        <p><a href="{{ login_url }}"><img src="/static/sso.png"></a></p>
    </div>
</div>
{% end %}
