{% extends "base.html" %}

{% block title %}characters{% end %}

{% block body %}
<div class="row characters_section">
    <div class="col-sm-12">
        <h1>{{ _('CHARACTERS_TITLE') }}</h1>
        <p>{{ _('CHARACTERS_INTRO') }}</h1>
    </div>
</div>

<div class="row characters_section">
    <div class="col-sm-12 col-md-7 col-lg-8">
        {% if not len(current_user.characters) %}
        <p class="alert alert-warning">{{ _('CHARACTERS_CHARACTERS_NO_CHARACTERS') }}</p>
        {% else %}
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Character</th>
                    <th>Corporation</th>
                    <th>Alliance</th>
                </tr>
            </thead>
            <tbody>
            {% for character in current_user.characters %}
                {% if character.is_internal %}
                    {% if current_user.main_character == character %}
                        <tr class="internal main">
                    {% else %}
                        <tr class="internal">
                    {% end %}
                {% else %}
                    <tr>
                {% end %}
                    <td><img src="https://image.eveonline.com/Character/{{ character.character_id }}_50.jpg"></td>
                    <td>{{ character.character_name }}</td>
                    <td>{{ character.corporation.name }}</td>
                    <td>{{ character.alliance_name }}</td>
                </tr>
            {% end %}
            </tbody>
        </table>
        {% end %}
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
        <h2>{{ _('CHARACTERS_CHARACTERS_TITLE') }}</h2>
        {% raw _('CHARACTERS_CHARACTERS_INTRO') %}</p>
        <h3>{{ _('CHARACTERS_CHARACTERS_MAIN_TITLE') }}</h3>
        <form method="POST" action="/characters/select_main">
            <input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
            <p>
                <select id="main_character" name="character_id">
                    <option value="0">{{ _('CHARACTERS_CHARACTERS_NO_MAIN_SELECTED') }}</option>
                    {% for character in current_user.characters %}
                        {% if character.is_main %}
                            <option selected value="{{ character.id }}">{{ character.character_name }}</option>
                        {% else %}
                            <option value="{{ character.id }}">{{ character.character_name }}</option>
                        {% end %}
                    {% end %}
                </select>
                <button type="submit">Set</button>
            </p>
        </form>
    </div>
</div>


<div class="row characters_section">
    <div class="col-sm-12">
        <h2>{{ _('CHARACTERS_ADD_CHARACTER_TITLE') }}</h2>
        <p>{{ _('CHARACTERS_ADD_CHARACTER_INTRO') }}</p>
        <p><a href="{{ login_url }}"><img src="/static/sso.png"></a></p>
    </div>
</div>
{% end %}
