{% extends "base.html" %}

{% block title %}services{% end %}

{% block body %}
<div class="row">
	<div class="col-sm-12">
		<h1>{{ _('SERVICES_TITLE') }}</h1>
		<p>{{ _('SERVICES_INTRO') }}</p>
	</div>
</div>

<div class="row services_section">
	<div class="col-sm-12 col-md-5 col-lg-4">
		<h3>{{ _('SERVICES_SLACK_IDS_TITLE') }}</h3>
		<p>{{ _('SERVICES_SLACK_IDS_INTRO') }}</p>
		<form method="POST" action="/services/add_slack_identity">
			<input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">

			<p>
				<label for="slack_id">{{ _('SERVICES_SLACK_ID_LABEL') }}</label>
				<input id="slack_id" name="slack_id" type="text" placeholder="{{ _('SERVICES_SLACK_ID_PLACEHOLDER') }}">
				<span class="help">{{ _('SERVICES_SLACK_ID_HELP') }}</span>
			</p>

			<p>
				<button type="submit">{{ _('ADD') }}</button>
			</p>

		</form>
	</div>
	<div class="col-sm-12 col-md-7 col-lg-8">
		{% if not len(current_user.slack_identities) %}
		<p class="alert alert-warning">{{ _('SERVICES_SLACK_NO_IDENTITIES') }}</p>
		{% else %}
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Slack Identity</th>
					<th>Verified?</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for slack_identity in current_user.slack_identities %}
				{% if slack_identity.verification_done %}
				<tr class="internal">
				{% else %}
				<tr>
				{% end %}
					<td>{{ slack_identity.email }}</td>
					<td>
						{% if slack_identity.verification_done %}
							Yes
						{% else %}
							No
						{% end %}
					</td>
					<td>
						{% if not slack_identity.verification_done %}
							<form method="POST" action="/services/send_slack_verification">
								<input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
								<input type="hidden" name="slackidentity_id" value="{{ slack_identity.id }}">
								<button type="submit">Verify</button>
							</form>
						{% end %}
						<form method="POST" action="/services/delete_slack_identity">
							<input type="hidden" name="_xsrf" value="{{ handler.xsrf_token }}">
							<input type="hidden" name="slackidentity_id" value="{{ slack_identity.id }}">
							<button type="submit">{{ _('DELETE') }}</button>
						</form>

					</td>
				</tr>
			{% end %}
			</tbody>
		</table>
		{% end %}
	</div>
</div>

<div class="row services_section">
	<div class="col-sm-12 col-md-5 col-lg-4">
		<h3>{{ _('SERVICES_FORUM_ID_TITLE') }}</h3>
		<p>{{ _('SERVICES_FORUM_ID_INTRO') }}</p>
	</div>
	<div class="col-sm-12 col-md-7 col-lg-8">
		username / set password
	</div>
</div>
{% end %}
